/* Reset de estilos para garantir consistência em diferentes navegadores */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
}

header {
  color: #000000;
  padding: 10px;
  margin: 1px 0px 0px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
}

nav a {
  text-decoration: none;
  margin: 1px;
  padding: 1px;
}

main {
  margin: 5px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main div {
  margin-bottom: 20px;
}

h1 {
  color: #000000;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* Proporção 16:9 */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 100%;
  border-radius: 10px;
  margin: auto;
  padding: auto;
}
/* Barra de Navegação */
.barra-navegacao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;

  z-index: 1000; /* Para garantir que a barra esteja sempre acima do conteúdo */
}

.barra-navegacao ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.barra-navegacao ul li {
  display: inline;
  margin-right: 20px;
}

.barra-navegacao ul li a {
  margin-top: 0px;
  text-decoration: none;
}

/* Espaço para conteúdo abaixo da barra de navegação */
.conteudo {
  padding: 1px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  margin-top: 80px;
}
#meuElemento {
  transition: margin-top .4s ease;
}
