/* Reset de estilos para garantir consistência em diferentes navegadores */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #66666617;
  color: #000000;
  padding: 10px;
  margin: 1px 0px 0px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 1px;
  padding: 1px;
}
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main div {
  margin-bottom: 20px;
}

h1 {
  color: #000000;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

.opcoes-contato {
  display: flex;
  justify-content: center;
  margin: 2px;
}



.opcoes-contato a img {
  max-width: 40px;
  height: auto;
}

.opcoes-contato a:hover {
  color: #ffd700;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
.instagram-icon {
    font-size: 30px;
    color: #e1306c; /* Cor oficial do Instagram */
    margin-right: 10px;
}
.name {
  font-size: 1.5em;
}

.opcoes-contato a img {
  max-width: 40px;
  height: auto;
  transition: transform 0.3s ease-out;
}

.opcoes-contato a:hover img {
  transform: rotate(360deg);
}
.opcoes-contato a {
  padding: 0px;
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #1e90ff;
  position: relative;
  transition: transform 0.3s ease-out;
}

.opcoes-contato a img {
  max-width: 60px;
  height: auto;
}

.opcoes-contato a:hover img {
  transform: translateY(-10px);
}
.opcoes-contato a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #1e90ff;
  position: relative;
  transition: transform 0.3s ease-out;
}

.opcoes-contato a img {
  max-width: 40;
  height: auto;
}

.opcoes-contato a:hover img {
  transform: translateY(-0.8px);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.229);
  border-radius: 5px;
}
.opcoes-contato h1{
  font-size: 2em;
}
